<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title text-center>Bienvenue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic 4 Auth</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Starting point for Ionic 4 Application with Authentication.</p>
    </ion-card-content>
  </ion-card> -->
  <ion-img style="width: 362px; height: 500px;" src="/assets/home.jpg"></ion-img>


<!-- <ion-footer> -->
  <!-- <ion-toolbar> -->
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block"(click)="login()">Se connecter</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="secondary" expand="block"  (click)="register()">S'inscrire</ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  <!-- </ion-toolbar> -->
<!-- </ion-footer> -->